.hover-underline {
  color: #587FFF;
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}
.mt-7 {
  margin-top: 7rem !important; /* 112px */
}
.fs-7{
	font-size: 14px;
}
.fs-24{
	font-size: 24px;
}
.fs-32{
	font-size: 32px;
}
@media (min-width: 768px) {
  .p-md-custom {
    padding: 10% !important; 
  }
}

.custom-input {
    border: 1px solid #555555 !important; 
    border-radius: 0px !important; 
    box-shadow: none; 
}

.custom-input:focus {
    border-color: none ;
    box-shadow: 0 0 0 2px #0d6efd !important; 
}
.placeholder-small::placeholder {
    font-size: 14px !important; 
    color: #555; 
}
.custom-border-bottom {
    display: inline-block;
    border-bottom: 3px solid #5b5959;
    padding: 0.5rem 1rem;
    height: 100% !important;
  }
  .custom-border-top{
  	display: inline-block;
  	border-top: 3px solid #5b5959 !important;
  	padding: 0.5rem 1rem;
    height: 100% !important;
  }

  @media (min-width: 768px) {
  .slider-height {
    height: 400px;
  }
}
@media(min-width:768px){
.custom_width{
	width: 80% !important;
}
}
