.hover-underline {
  color: #587FFF;
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}
.mt-7 {
  margin-top: 7rem !important; /* 112px */
}
.fs-7{
	font-size: 14px;
}
.fs-24{
	font-size: 24px;
}
.fs-32{
	font-size: 32px;
}
